@model IEnumerable<ChatterExample.Chat>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response"></div>
<button id="getChats" class="btn btn-primary">Get Chats</button>
@section Scripts {
<script>


        //var jsonTest = { "firstName": "Bob", "lastName": "Sauce", "children": [{ "firstName": "Barbie", "age": 19 }, { "firstName": "Ron", "age": 45 }] }

        ////now some jQuery
        //$("#response").text(jsonTest.children[1].age);

//AJAX request using jQuery as a helper
   	//Notice this combines Razor syntax (@Url.Action()) in order to
   	//have the compiler figure out the exact path of the controller,
   	//alongside of jQuery.
    	@*$.get("@Url.Action("TestJson","Chats")", function (response) {
            alert(response);
    	});*@

        @*function DisplayName(x) {
              $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
var jsonTest = JSON.parse(serverResponse);
        alert(jsonTest.firstName);

        $("#response").text(serverResponse);



        }*@
        $(document).ready(function(){
            $("#getChats").click(myFunction);

                function myFunction(){
                    $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                        var jsonTest = JSON.parse(serverResponse);
                        //console.log(jsonTest);

                        var ul = $("<ul>", { id: "messageList", "class": "bg-primary" });
                        ul.click(function () { alert("ul was clicked!"); });
                        $("#response").append(ul);

                        $.each(jsonTest, function (inx, val) {
                            var myBgClass = ["bg-info","bg-warning"];
                            var li = $("<li>", { id: "li" + inx, "class": myBgClass[inx % 2] });
                            li.text(val.Message);
                            li.click(function () { alert("my index is " + inx); });
                            ul.append(li);
                        });
                    })
                }

            @*$("#getChats").click(
function () {
$.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
var jsonTest = JSON.parse(serverResponse);
//console.log(jsonTest);

var ul = $("<ul>", { id: "messageList", "class": "bg-primary" });
ul.click(function () { alert("ul was clicked!"); });
$("#response").append(ul);

$.each(jsonTest, function (inx, val) {
var myBgClass = ["bg-info","bg-warning"];
var li = $("<li>", { id: "li" + inx, "class": myBgClass[inx % 2] });
li.text(val.Message);
li.click(function () { alert("my index is " + inx); });
ul.append(li); //similar to $("#messageList").append(li), but more
//efficient b/c it doesn't need to query for the list
//again.
});
})
}
);*@

        //    $("#postChats").click(

        //    );
        //}
        //);
</script>
}

